<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 字体图标 -->
    <link href="./font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- 鹰眼 -->
    <link rel="stylesheet" href="./plugin/cytoscape.js-navigator.css">
    <!-- 右侧菜单 -->
    <link rel="stylesheet" href="./plugin/cytoscape-context-menus.css">
    <!-- vue样式 -->
    <link rel="stylesheet" href="./plugin/vue/index.css">
    <!-- 页面样式 -->
    <link rel="stylesheet" href="./css/index.css">
    <title>拓扑图</title>
</head>

<body>
    <div class="main">
        <!-- 头部导航 -->
        <div class="headerBox">
            <div class="title">
                拓扑图
            </div>
            
            <div class="function">
                <i class="fa fa-edit clickI active" title="正常模式" onClick="changeModeType(1)"></i>
                <i class="fa fa-object-group clickI" title="框选模式" onClick="changeModeType(2)"></i>
                <i class="fa fa-long-arrow-right clickI" title="连线模式" onClick="changeModeType(3)"></i>
                <i class="fa fa-search-plus" title="放大" onClick="scalingBig()"></i>
                <i class="fa fa-search-minus" title="缩小" onClick="scalingSmall()"></i>
                <i class="fa fa-times" title="删除" onClick="deleteSelectedNodes()"></i>
                <i class="fa fa-cloud-download" title="导出JSON与图片" onClick="exportData()"></i>
                <i class="fa fa-cloud-upload" title="导入JSON文件" onclick="javascript:$('#uploadjsonfile').click()"></i>
                <input type="text" id="groupInput" placeholder="输入分组名称">
                <input type="text" id="nodeInput" placeholder="输入节点名称">
                <button id="startAnimation" onClick="startAnimations()">开启动画</button>
                <button id="startDropGroup" onClick="startDropGroup()">开启拖拽组成分组</button>
                <!-- 修改节点文案 -->
                <input type="text" id="changeTextInput">
                <!-- 上传json -->
                <input type="file" accept="text/json" id="uploadjsonfile" style="display:none" onchange="uploadjsonfile(event)">
            </div>
        </div>
        <!-- 左侧设备区域 -->
        <div class="leftBox">
            <div class="listNav">
                <h2>网络设备</h2>
                <div class="listCon">
                    <div class="listNode" draggable="true" data-class="1-1">
                        <img src="./image/icon_access_switch.png" draggable="false" alt="接入层交换机">
                        <span>接入层交换机</span>
                    </div>
                    <div class="listNode" draggable="true" data-class="1-2">
                        <img src="./image/icon_convergence_switch.png" draggable="false" alt="服务器">
                        <span>服务器</span>
                    </div>
                    <div class="listNode" draggable="true" data-class="1-3">
                        <img src="./image/icon_core_switch.png" draggable="false" alt="无线AP">
                        <span>无线AP</span>
                    </div>
                    <div class="listNode" draggable="true" data-class="1-4">
                        <img src="./image/icon_router.png" draggable="false" alt="核心交换机">
                        <span>核心交换机</span>
                    </div>
                </div>
            </div>
            <div class="listNav">
                <h2>文字节点</h2>
                <div class="listCon">
                    <div class="listNode" draggable="true" data-class="textNode">
                        <span>默认文字</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 右侧操作区域 -->
        <div class="rightBox">
            <div id="topologyBody"></div>
            <div id="attributeBox">
                <div class="box_drag">鼠标移动上来拖动盒子</div>
                <div id="attributeContent">
                    <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="基础属性" name="1">
                            <div class="nodeList">
                                <span class="nodeName">名称：</span>
                                <p class="nodeCon">
                                    <el-input @input="changeNodeText" v-model="nodeAttribute.name"></el-input>
                                </p>
                            </div>
                            <div class="nodeList">
                                <span class="nodeName">文字颜色：</span>
                                <p class="nodeCon">
                                    <el-color-picker size="mini" @change="changeNodeColor" v-model="nodeAttribute.textColor"></el-color-picker>
                                </p>
                            </div>
                            <div class="nodeList">
                                <span class="nodeName">文字大小：</span>
                                <p class="nodeCon">
                                    <el-slider style="width: 85%; padding-left: 10px;" @change="changeNodeTextSize" v-model="nodeAttribute.textSize" :max="24" :min="12"></el-slider>
                                </p>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item title="功能区域" name="2" v-if="IsOnenode">
                            <div class="nodeList">
                                <span class="nodeName">显示名称：</span>
                                <p class="nodeCon">
                                    <el-switch @change="changeNodeTextShow" v-model="nodeAttribute.textOpacity"></el-switch>
                                </p>
                            </div>
                            <div class="nodeList">
                                <span class="nodeName">允许移动：</span>
                                <p class="nodeCon">
                                    <el-switch @change="changeNodeMove" v-model="nodeAttribute.nodeMove"></el-switch>
                                </p>
                            </div>
                            <div class="nodeList">
                                <span class="nodeName">允许连线：</span>
                                <p class="nodeCon">
                                    <el-switch @change="changeNodeLine" v-model="nodeAttribute.nodeLine"></el-switch>
                                </p>
                            </div>
                            <!-- <div class="nodeList">
                                <span class="nodeName">选中：</span>
                                <p class="nodeCon">
                                    <el-switch @change="changeNodeSelect" v-model="nodeAttribute.nodeSelect"></el-switch>
                                </p>
                            </div> -->
                            <div class="nodeList">
                                <span class="nodeName">节点图标：</span>
                                <p class="nodeCon">
                                    <el-select v-model="nodeImg" size="mini" @change="changeNodeImg" placeholder="请选择">
                                        <el-option
                                          v-for="(item, i) in nodeImgArr"
                                          :key="i"
                                          :label="item.label"
                                          :value="item.url">
                                        </el-option>
                                    </el-select>
                                </p>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item title="自定义属性" name="3" v-if="IsOnenode">
                            <template v-if="customStatus == 1 && Object.keys(nodeAttribute.customData).length">
                                <template v-for="(val, key) in nodeAttribute.customData">
                                    <div class="nodeList">
                                        <el-tooltip class="item" effect="dark" :content="key" placement="top">
                                            <span class="customKey">{{key}}:</span>
                                        </el-tooltip>
                                        <el-tooltip class="item" effect="dark" :content="val" placement="top">
                                            <span class="customVal">{{val}}</span>
                                        </el-tooltip>
                                        <i class="el-icon-delete" @click="removeData(key)"></i>
                                    </div>
                                </template>
                                <div class="funButton">
                                    <i class="el-icon-plus" @click="customStatus = 2"></i>
                                </div>
                            </template>
                            <template v-if="customStatus == 2">
                                <div class="nodeList customInput" v-for="item in customArr">
                                    <el-input v-model="item.key" size="mini" style="width: 40%" placeholder="key"></el-input>
                                    <span class="separate"> - </span>
                                    <el-input v-model="item.val" size="mini" placeholder="val"></el-input>
                                </div>
                                <div class="funButton">
                                    <i class="el-icon-check" style="margin-right: 12px;" @click="saveCustom"></i>
                                    <i class="el-icon-circle-close" @click="customStatus = 1"></i>
                                </div>
                            </template>
                            
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./plugin/jquery-3.3.1.min.js"></script>
<script src="./plugin/cytoscape.js"></script>

<!-- vue相关功能 -->
<script src="./plugin/vue/vue.js"></script>
<script src="./plugin/vue/index.js"></script>

<!-- 连线功能 -->
<script src="./plugin/lodash.js"></script>
<script src="./plugin/cytoscape-edgehandles.js"></script>
<!-- 展开折叠复合节点 -->
<script src="./plugin/cytoscape-expand-collapse1.js"></script>
<!-- 鹰眼 -->
<script src="./plugin/cytoscape-navigator.js"></script>
<!-- 右键菜单 -->
<script src="./plugin/cytoscape-context-menus.js"></script>
<!-- 分组复制 -->
<script src="./plugin/cytoscape-clipboard.js"></script>
<!-- 分组合并展开 -->
<script src="./plugin/cytoscape-compound-drag-and-drop.js"></script>
<script src="./plugin/cytoscape-ngraph.forcelayout.js"></script>
<!-- 扩展html元素 -->
<!-- <script src="./plugin/popper.min.js"></script>
<script src="./plugin/cytoscape-popper.js"></script> -->
<!-- dom元素添加至节点中 -->
<script src="./plugin/cytoscape-node-html-label.js"></script>
<!-- 本页js -->
<script src="./js/index1.js"></script>

</html>